.header {
  background-color: #fbc4ab;
  display: flex;
  justify-content: space-around;
  padding: 0.7em 0;

  /* position: relative; */
}

.footer {
  background-color: #fbc4ab;
  padding: 0.6em 0;
}


.footer, p {
  display: flex;
  justify-content: center;
}

.textBemVinda {
  justify-content: center;
  margin-top: 0.1em;
}

.homeImg {
  display: block;
  height: 33em;
  margin-left: auto;
  margin-right: auto;
  width: 33em;
}

.btns {
  background-color: blue;
}
